html {
  position: relative;
}

.container img {
  width: 200px;
  border: 5px solid #666;
}

.card-body {
  background-color: rgb(81, 121, 251);
  color: #fff;
  border-radius: 5px;
}
hr {
  width: 250px;
  border-top: 3px solid #999;
}
.section {
  min-height: 600px;
}
.portfolio,
.atas {
  background-color: #eee;
}
.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  padding-top: 30px;
}
footer p {
  color: #aaa;
  font-size: 1em;
}

.gambar {
  width: 230px;
  height: 500px;
}

.gambar2 {
  width: 230px;
  height: 210px;
}

.row {
  margin-bottom: 10px;
  margin-top: 10px;
}
